body {
box-sizing: border-box;
    max-width: 975px;
    font-size: 10px !important;
}

#main-splash-image {
    padding: 0;
    width: 975px;
    height: 520px;
    background: url("img/hero_4.jpg");
    background-size: cover;
}

.shadedBG {
    height: 100%;
    width: 100%;
    background-color: rgba(56, 56, 56, 0.5)
}



.middle-of-page {
    position: relative;
    top: 9em;
}

.number {
    width: 15%;
}

#form-div {
    margin: 0 auto;
    width: 69%;
    position: relative;
    top: 18rem;
    background-color: #EEEE;

}

#form-div .number {
    width: 70px;
}
.form-labels{
    position: relative;
    top: 0.5rem;
}


.page-2 {
    position: fixed;
    top: 5rem;
    justify-content: flex-end ;
}

.btn {
    border-radius: 80px;
}

p .form-labels {
    padding-left: 0;
}

input {
    margin-left: 5px;
    height: 20px;
}

